.title-skills{
  position: relative;
  width: 98vw;
background-color: rgb(15, 15, 15);
text-align: center;
}

.card-skills{
  position: relative;
width: 98.7vw;
height: auto;
left: -1px;
top: -3px;
background-color: rgb(15, 15, 15);
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
color: #f58f0a;
border-bottom: 0.1px solid #ffb619;


}
h1{
  position: relative;
  border: 1px 1px 1px solid green;
  color: #f58f0a;
  font-size: 35pt;
}
