
<div class="title-skills" id="skills"><h1>My Main Skills</h1></div>
<div class="card-skills">



<app-windows-skills
imageSmallCard="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/2048px-Unofficial_JavaScript_logo_2.svg.png"
titleSmallCard="JavaScript">
</app-windows-skills>

<app-windows-skills
imageSmallCard="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"
titleSmallCard="Angular">
</app-windows-skills>

<app-windows-skills
imageSmallCard="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/2048px-Typescript_logo_2020.svg.png"
titleSmallCard="TypeScript">
</app-windows-skills>

<app-windows-skills
imageSmallCard="https://cdn.freebiesupply.com/logos/large/2x/react-1-logo-png-transparent.png"
titleSmallCard="React JS">
</app-windows-skills>

<app-windows-skills
imageSmallCard="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/CSS3_logo.svg/800px-CSS3_logo.svg.png"
titleSmallCard="Css">
</app-windows-skills>

<app-windows-skills
imageSmallCard="https://cdn-icons-png.flaticon.com/512/174/174854.png"
titleSmallCard="Semantic Html ">
</app-windows-skills>

<app-windows-skills
imageSmallCard="https://static-00.iconduck.com/assets.00/node-js-icon-454x512-nztofx17.png"
titleSmallCard="Node Js ">
</app-windows-skills>






</div>
