.style-bar{
  position: relative;
  width: 98.7vw;
  height: 60px;
  background-color: rgb(15, 15, 15);
  align-items: center;
  font-size: 20pt;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #f58f0a;
}

.style-bar>ul{
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 10px;
  list-style-type: none;
  text-decoration: none;
}

.style-bar>ul>li{
  margin-right: 50px;

}

p{
  position: absolute;
  left: 30px;
  font-size: 40pt;
}

a{
  color: #f58f0a;
  text-decoration: none;
}
.options:hover{
  font-size: 27pt;
  color: #ffb619;
  transition: 1s;

}

@media( max-width: 800px){
a{
  font-size: 8pt;
}
p{
  left: 15px;
font-size: 10pt;
}
}
