.description {
  position: relative;
  width: 98.7vw;
  height: 550px;
  background-color: rgb(14, 13, 13);
  border-top: 0.1px solid #ffb619;
  border-bottom: 0.1px solid #ffb619;
  display: flex;
  text-align: center;
  align-items: center;
}

.lista {
  position: relative;
  font-size: 20pt;
  color: #f58f0a;
  text-decoration: none;
  list-style-type: none;
  margin: 0 auto; /* Centraliza horizontalmente */
}

@media only screen and (max-width: 1200px) {
  .lista {
    font-size: 17pt;
  }
}

@media (max-width: 800px) {
  .description {
    height: auto; /* Ajusta a altura automaticamente */
  }

  .lista {
    font-size: 15pt;
    top: 25; /* Remove o deslocamento vertical */
    margin-top: 20pt;
  }
}
