.page-style{
  position: relative;
  width: 98.7vw;
  height: auto;
  left: -8px;
  top: -8px;
  background-color: rgb(15, 15, 15);


}



.description{
  position: relative;
  width: 97.8vw;
  height: 100px;
  font-size: 25pt;
  background-color: rgb(15, 15, 15);
  color: #f58f0a;
  text-align: center;

}
p{
  top: -25px;
  font-size: 15pt;
}
@media( max-width: 800px){
  .description{
    font-size: 15pt;
  }
}
